{% extends 'base.html.twig' %}

{% block body %}

    <div class="container" style="margin-top:100px">

        <div id="block-part">
            <div class="headline">
                <h2>Inscription</h2>
                <p>Veuillez remplir les champs suivant</p>
            </div>

            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

            <button type="submit">S'enregistrer</button>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
